.populares .title p{
    cursor: pointer;
    color: white;
    font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
text-align: center;
letter-spacing: 4px;
}

.populares .title p a svg {
    transform: translateY(5px);
} 