.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    background: rgba(36, 36, 36, 0.9);
    float: right;
    z-index: 100;
    overflow: hidden;
    animation:slidein 1s ease ;
}
.sidebar-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 11px;
}
.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar-top .left{
    cursor: pointer;
}
.sidebar-top .left:hover{
    opacity: 0.8;
}
.sidebar-top .left svg {
    color: white;
}
.sidebar-top .right {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
.sidebar-top .right > .menu{
    padding-left: 40px;
}

ul.menu-items {
    margin: 0;
    padding: 0;
}
.menu-items li {
    display: flex;
    cursor: pointer;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 4px;
    color: #FFFFFF;
    list-style: none;
    padding: 4% 1%;
    align-items: center;
}
.menu-items li:hover{
    opacity: 0.8;
}
.menu-items li svg {
    padding-right: 7px;
}
@media (max-width: 720px) {
    .sidebar {
        position: fixed;
        display: flex;
        width: 100%;
    }
}
@keyframes slidein {
    from {transform: translatex(700px);}
  to {transform: translatex(0);}
}