.App{
  background-color: #242424;
  height: 100%;
    min-height: 100vh;
    object-fit: contain;
    overflow: hidden;
    animation: zoominback 2s ease-out;
}
.container{
  display: flex;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;

}
@media (max-width: 720px) {
  .container {
    width: 100%;
    height: fit-content;
    flex-direction: column;
}
.App{
  animation: none!important;
}


}
@keyframes zoominback {
  0% {
    background-size:200%;
  
  }
  100% {
      
    background-size:100%;
 
   }
}