.App{
  height: 100%;
    min-height: 100vh;
    object-fit: contain;
    overflow: hidden;
    animation: zoominback 2s ease-out;
}
.container{
  display: flex;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;

}

@keyframes zoominback {
  0% {
    background-size:200%;
  
  }
  100% {
      
    background-size:100%;
 
   }
}